/*selectores comunes*/
        body{background-color:floralwhite;                          
         } 
        
        p{font-family: monospace;
          text-align: center;
        font-size: 40px;    
        }
        /*selectores de clase*/
        
        .white{
            color: white;
            font-family: fantasy;
            font-size: 30px;
            }
        /*Selectores de id*/
        #paraDiv{
            height:25px;
            background-color: brown;
            color:whitesmoke;
            font-size: 20px;
            font-family: sans-serif;    
            
        }
        /*Selectores de grupo*/
        h1 {
            font-family: white;
            font-size: 17px;
            color:white;
            
        }

        h2 {
            font-family:sans-serif;
            font-size: 20px;
            color: white;
        }

        h3 {
            font-family: cursive;
            font-size: 15px;
            color: white;
}

        h4 {
            font-family: monospace;
            font-size: 20px;
            color: white;
            text-align: center;
            font-style: normal;
        }
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 15s infinite ;
    animation-direction: alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    5% {margin-left: 0;}
    
    10% {margin-left: -100%;}
    15% {margin-left: -100%;}
    
    20% {margin-left: -200%;}
    25% {margin-left: -200%;}
    
    30% {margin-left: -300%;}
    35% {margin-left: -300%;}
}
/*Selectores de id para div*/
#fondoDiv{
    background-image: url(imagenes/FB_IMG_15536110907860008.jpg);
    width: 900px;
    height: 200px;
    background-position: top;    
}
#fondoDiv2{
    background-image: url(imagenes/footer-background-mountain.jpg);
    width: 1300px;
    height: 50px;
    background-position: bottom;
    color: white;
    text-align: center;    
}
#menu{
    background-color: dimgray;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
    
}
#menu ul li a{
    color: white;
    text-decoration-color: none;
    display: block;
    padding: 10px  50px;
    
}
#menu ul li a: hover{
    background-color: aquamarine;
}
.item-r{
    float: right;
}

/*------------Estilos de info------------*/
.info__columna {
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}